
/* section hero /inicio */
main{
    .section__hero{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
   
    .container__hero{
        .hero__content{
           
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            height: 100vh;
            padding-left:  72px;
            background-image: url(../../images/image_background.webp);
            background-repeat: no-repeat ;
            background-size: cover;
            background-position: center;
            .hero__titulo{
                font-family: "Barlow Condensed", serif; font-size:120px ; color: #fff; font-weight: bold;
                padding:  0 10px;
                margin: 0;
                span{
                color:var(--color-button);
           
                }
            }
            .hero__parrafo{
                margin-top: 24px;
                margin-bottom: 24px;
                width: 60%;
                padding: 0 10px;
                color:var(--color-texblack);
                font-weight: 600; font-size: 18px;
            }
            .hero-parrafo{
             width: 100%;
             color:var(--color-texblack);
            font-weight: 600; 
            font-size: 20px;
            line-height: 1.6;
          
            }
          
        }
      }
   }
    
    /* section2-cards/inicio*/
    #section-cards{
        width: 100%;
         height: 100%;
    
         .section2__titulo{
            display: flex;
            justify-content: center;
            margin-top: 2.5rem ;
            margin-bottom: 0.9rem;
         }
         h1{
            color: var(--secundary-button);
    }
    .section2__parrafo{
        display: flex;
        width: 100%;
        padding: 0 72px;
        text-align: left;
    }
    .cards__container{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        margin: 0 72px;   
    }
    }
    /*section 3/safaris*/
    #section-safaris{
        width: 100%;
         height: 100%;
    .section3__titulo{
        h2{
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 0 1rem;
            margin-top: 5rem ;
            margin-bottom: 0.9rem;
            color: var(--secundary-button);
         }
        }
         .section3__parrafo{
            display: flex;
            width: 100%;
            padding: 0 72px;
            line-height: 1.6;
            text-align: justify;
            margin-bottom: 2rem;
        }
    #carouselExampleFade{
        z-index: 1;
        .carousel-inner{
            width: 70%;
            height: 70%;
            margin: auto;
        }
        .carousel-item{
            .d-block {
                width: 100%;
                 height: 500px;
                box-shadow: 0px 0 10px 0px whitesmoke;
                border-radius: 15px;
            
                }
                .carousel__subtitulo{
                    color: var(--color-headings);
                    font-weight: 500; font-family: cursive;
                    letter-spacing: 1.5px;
                    text-align: center;
                    padding-top: 1rem;
                }   
           }
      }
      .carousel-control-prev{
        margin-top: 14%;
       border: 1px solid var(--color-text);
       background: linear-gradient(109deg, rgba(0, 1, 13, 0.30) 12.87%, rgba(72, 184, 199, 0.30) 86.46%), #00010E;
       border-radius: 20px;
       width: 5%;
       height: 8%;
       margin: 0 5%;
       z-index: 1;
       cursor: pointer;
     
       span{
        margin-left: 1rem;
     }
        }
    .carousel-control-next{
        margin-top: 14%;
        border: 1px solid var(--color-text);
        background: linear-gradient(109deg, rgba(0, 1, 13, 0.30) 12.87%, rgba(72, 184, 199, 0.30) 86.46%), #00010E;
        border-radius: 20px;
        width: 5%;
        height: 8%;
        margin: 0 5%;
        z-index: 1;
        cursor: pointer;
        span{
           margin-left: 1rem;
        }
       }
    }
 /* section 4 inicio/ certificaciones  */
 #section-certificaciones{
    width: 100%;
    height: 100%;
   
    .certificaciones__titulo{
        display: flex;
        justify-content: center;
        margin-top:5rem;
        margin-bottom: 1rem;
      
       }
       .certificaciones__parrafo{
        display: flex;
        width: 100%;
        padding: 0 72px;
        line-height: 1.6;
        text-align: justify;
    }
    .img__certificaciones{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 3.5rem;
       }
       .logo__container{
        display: flex;
        align-items: center;
        margin:2rem;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        background-color: var(--color-texblack);
        border-radius: 50%;
        box-shadow:var(--color-text) 0px 0px 15px 0px;
       
        .logo-certificaciones{
            background-image: url(../../images/iko.png);
            width: 125px;
            height: 125px;
            margin-top: 100px;
            background-size: contain;
            background-repeat: no-repeat;
           }
           
       }
   
    }

    @media screen and (max-width: 768px) {
//hero section//

    main{
        .hero{
            width: 100vw;
            height: 80vh;
    
        }
        .container__hero{
            .hero__content{
                height: 100vh;
               background-position-x:62%;
               .hero__titulo{
                font-family: "Barlow Condensed", serif; font-size:3.5rem; color: #fff; font-weight: bold;      
            }
      }  
      .hero__parrafo{
        margin: 0;
         width: 60%;
         padding: 0 4px;
         line-height: 1.5;
         padding: 0;
         
         .hero-parrafo{
            font-weight: 600;
             font-size: 1rem;
            margin: 0;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
            }
        }
    }
 }
       .cards__container{
            .--1{
                 margin-top: 0.5rem;
             }
             .--2{
                 margin-top: 1rem;
            }
           .--3{
                 margin-top: 0.2rem;
             }
             }
             #section-safaris{
                .carousel-control-prev{
                   width: 8%;
                   height: 10%;
                    }
                .carousel-control-next{
                    width: 8%;
                   height: 10%;
                   }
             }
             #carouselExampleFade{
                z-index: 1;
                .carousel-inner{
                    width: 70%;
                    height: 70%;
                    margin: auto;
                }
                .carousel-item{
                    .d-block {
                        width: 100%;
                         height: 500px;
                        box-shadow: 0px 0 10px 0px whitesmoke;
                        border-radius: 15px;
                    
                        }
                        .carousel__subtitulo{
                            color: var(--color-headings);
                            font-weight: 500; font-family: cursive;
                            letter-spacing: 1.5px;
                            text-align: center;
                            padding-top: 1rem;
                        }   
                   }
              }
              .carousel-control-prev{
                margin-top: 14%;
               border: 1px solid var(--color-text);
               background: linear-gradient(109deg, rgba(0, 1, 13, 0.30) 12.87%, rgba(72, 184, 199, 0.30) 86.46%), #00010E;
               border-radius: 20px;
               width: 5%;
               height: 8%;
               margin-left: 5%;
               z-index: 1;
               cursor: pointer;
                }
            .carousel-control-next{
                margin-top: 14%;
                border: 1px solid var(--color-text);
                background: linear-gradient(109deg, rgba(0, 1, 13, 0.30) 12.87%, rgba(72, 184, 199, 0.30) 86.46%), #00010E;
                border-radius: 20px;
                width: 5%;
                height: 8%;
                margin-right: 5%;
                z-index: 1;
                cursor: pointer;
               }
            }
            #section-certificaciones{
             
                .certificaciones__titulo{
                        margin-top: 1.5rem;
                     }
                     .logo__container{

                        margin:1.2rem;
                        width: 140px;
                        height: 140px;
   
                        .logo-certificaciones{
                            width: 115px;
                            height: 115px;
                        
                           }  
                       }      
                }
            
            

    
@media screen and (max-width: 480px) {
    main{
        .hero{
            width: 100vw;
            height: 80vh;
    
        }
        .container__hero{
            
            .hero__content{
                height: 70vh;
                background-position-x:62%;
                padding: 0 36px;
                margin-top: 3rem;

                .hero__titulo{
                    font-family: "Barlow Condensed", serif; font-size:2.5rem; color: #fff; font-weight: bold;  
                   
              }
           
              .hero__parrafo{
                width: 74%;
                height: 85px;
                padding: 0 4px;
                line-height: 1.2;
                margin-top: 0;
                
                .hero-parrafo{
                   font-weight: 600; font-size: 0.9rem;
                   margin: 0;
                   padding-bottom: 0.5rem;
                   padding-top: 0.5rem;
                   }
               
            }
      
     
      }
    }   
 }
 #section-cards{
    .section2__parrafo{
        display: flex;
        width: 100%;
        padding: 0 36px;
        text-align: left;
    }
    .cards__container{
        margin: 0 36px;   
    }
 }
 #section-safaris{
    .section3__parrafo{
        padding: 0 36px;
        line-height: 1.5;
    }
 }
 #carouselExampleFade{
    
 .carousel-control-prev{
   width: 5%;
   height: 10%;
   border-radius: 10px;
   padding: 4px 4px;
       }
.carousel-control-next{
    border-radius: 10px;
    width: 5%;
    height: 10%;
    padding: 4px 4px;
      }
   }
   #section-certificaciones{
    width: 100%;
    height: 100%;
   
    .certificaciones__titulo{
        display: flex;
        justify-content: center;
        margin-top:5rem;
        margin-bottom: 1rem;
      
       }
       .certificaciones__parrafo{
        padding: 0 36px;
        line-height: 1.5;
       }
   }
}
@media screen and (max-width: 320px) {
    main{
        .hero{
            width: 100vw;
            height: 80vh;
    
        }
        .container__hero{
            .hero__content{
                height: 75vh;
               background-position-x:62%;
               .hero__titulo{
                font-family: "Barlow Condensed", serif; font-size:2.5rem; color: #fff; font-weight: bold;      
            }
      }  
      .hero__parrafo{
        margin: 0;
         width: 70%;
         line-height: 1.2;

        }
    }
 }
}
#section-cards{
    .section2__parrafo{
        padding: 0 16px;
    }
    .cards__container{
        margin: 0 ;   
        padding: 0;
    }
 }
 #section-safaris{
    .section3__parrafo{
        padding: 0 16px;
        line-height: 1.5;
    }
 }
 #section-certificaciones{

    .certificaciones__titulo{
        margin-top:1.5rem;

       }
       .certificaciones__parrafo{
        padding: 0 16px;
        line-height: 1.5;
   
       }
   }







//     main{
//         .hero{
//             width: 100vw;
//             height: 80vh;
    
//         }
//         .container__hero{
            
//             .hero__content{ 
//                 height: 70vh;
//                 background-position-x:58%;
//                 padding: 0 24px;
            
//                 .hero__titulo{
//                     font-family: "Barlow Condensed", serif; font-size:2.2rem; color: #fff; font-weight: bold;  
//                     padding-top: 4rem;

//                     .hero__parrafo{
//                         width: 74%;
//                         height: 85px;
//                         padding: 0 4px;
//                         line-height: 1.4;
//                         margin-top: 1rem;   
                        
//                         .hero-parrafo{
//                            font-weight: 600; font-size: 0.9rem;
//                            margin: 0;
//                            padding-bottom: 0.5rem;
//                            padding-top: 0.5rem;
//                            }
                         
//                       }
          
               
//             }
//      }
     
//     } 
    
//  }
//  #section-cards{
//     p{
//         text-align: left;
//     }
//     .section2__parrafo{
//         margin: 0px;
//         padding: 0 24px;
//     }
//     .cards__container{
//         margin: 0 ;
//         padding: 0;
//     }
//  }
//  #section-safaris{
//     h2{
//         text-align: center;
//         padding: 0 8px;
//     }
//     .section3__parrafo{
//         margin: 0px;
//         padding: 0 24px;
//     }
   
//  }
//  #section-certificaciones{
//     .certificaciones__parrafo{
//         margin: 0px;
//         padding: 0 24px;
//     }
// }
//  #carouselExampleFade{
//  .carousel-control-prev{
//    width: 5%;
//    height: 10%;
//     border-radius: 10px;
//    padding: 4px 4px;
//        }
// .carousel-control-next{
//      border-radius: 10px;
//      width: 5%;
//      height: 10%;
//     padding: 4px 4px;
//       }
//    }
   
// }

    

        


          
    


    
    
    
    









