/* pagina/LECCIONES */
#lecciones{
    width: 100%;
    height: 100%;
    margin-top: 48px;

    .container__lecciones {
        .lecciones__tittle {
            width: 80%;
            display: flex;
           justify-content: center;
          margin-top: 3rem;
          margin: auto;
      
        h1{
            color: var(--secundary-button);
            font-weight: 500;
        }
    }
    .lecciones__subtitulo{
        p{
            display: flex;
            justify-content: center;
            margin-bottom: 48px;
            color: #ffffff;
        }
      }
    }
    .lecciones_content{
        display: flex;
        flex-direction: column;
        padding: 0 72px;
        line-height: 1.6;
        li{
        list-style: none;
       }
    }
    .container__cards{
        min-width: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        text-align: center;
        margin-top: 64px;
    
    }
}
 .container__cta{
    display: flex;
    justify-content: center;
     margin-top: 2rem;
     a{
        text-decoration: none;
        color: var(--color-texblack);
        font-family: "Poppins", serif; font-size: 1rem;
        font-weight: 500;
}
 }
 #intermedio{
    width: 100%;
    height: 100%;

    .intermedio__tittle {
        width: 100%;
        display: flex;
      justify-content: center;
      margin-top: 3rem;
      margin: auto;

    }
    .intermedio-h2{
        display: flex;
        justify-content: center;
        padding:  16px ;
        color: var(--secundary-button);
        font-size: 1.5rem;
        margin: 0;
        width: 100%;
        height: 100%;
    }
     
}
.intermedio__parrafo{
    display: flex;
    max-width: 91%;
    margin: 0 72px;
   
}
.container__cards{
    min-width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
     gap: 4rem;
    text-align: center;
    margin-top: 64px;

}
//avanzado//
#avanzado{
      width: 100%;
      height: 100%;
      .avanzado__tittle{
         h2{
            display: flex;
            justify-content: center;
            padding:  16px ;
            color: var(--secundary-button);
            font-size: 1.5rem;
            margin: 0;
        
        }
      }
      .avanzado__parrafo{
        display: flex;
        max-width: 91%;
        margin: 0 72px;
    }
    .container_avanzado{
        min-width: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        text-align: center;
        margin-top: 64px;
    }
   
}
 
@media screen and (max-width: 480px) {
    .lecciones__subtitulo{
        p{
            display: flex;
            justify-content: center;
            margin-bottom: 48px;
            color: #ffffff;
            padding:0  32px;
        }
    }
    .container__cards{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-top: 34px;
    }
    .container__cards{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-top: 34px;
    }
    .container_avanzado{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-top: 34px;
    }
   
}






// #lecciones{
//     width: 100%;
//     height: 100%;
//     margin-top: 48px;
// }

// .lecciones__tittle {
//     width: 80%;
//     display: flex;
//    justify-content: center;
//   margin-top: 3rem;
//   margin: auto;
// }
// .lecciones__subtitulo p{
//     display: flex;
//     justify-content: center;
//     margin-bottom: 48px;
//     color: #ffffff;

// }
// .lecciones_content, li{
//     display: flex;
//     flex-direction: column;
//     padding: 0 72px;
//     line-height: 1.6;
//     list-style: none;
// }

// .container__lecciones h1{
//     color: var(--secundary-button);
//     font-weight: 500;

// }

/* CURSO INICIANTE CARDS*/
// .container__cards{
//     min-width: 500px;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//     gap: 4rem;
//     text-align: center;
//     margin-top: 64px;

// }
// .card__base{
//     width: 280px;
//     height: 350px;
//     border-radius: 8px;
//     box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
// }
// .iniciante-1{
//     background-image: url(../../images/nociones\ basicas.png);
//     background-size: cover;
//     background-repeat: no-repeat;


// }

// .iniciante-1 h2{
//     display: flex;
//     justify-content: flex-end;
//     padding-right: 1rem;
//     color: var(--color-texblack);
//     font-weight: 500; font-family: cursive;
// }


// .iniciante-2{
//     background-image: url(../../images/waterstart.png);
//     background-size: cover;
//     background-repeat: no repeat;
//     background-position-x: 300%;
// }

// .iniciante-2 h2{
//     display: flex;
//     justify-content: flex-end;
//     padding-right: 1rem;
//     color: var(--color-texblack);
//     font-weight: 500; font-family: cursive;


// }
// .iniciante-3{
//     background-image: url(../../images/bodydrag.png);
//     background-size: cover;
//     background-repeat: no repeat;
// }

// .iniciante-3 h2{
//     display: flex;
//     justify-content: flex-end;
//     padding-right: 1rem;
//     color: var(--color-texblack);
//     font-weight: 500; font-family: cursive;
// }
// .principal__btn a{
//     text-decoration: none;
//     color: var(--color-texblack);
//     font-family: "Poppins", serif; font-size: 18px;
//     font-weight: 600;
// }

// .container__cta{
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//      margin-top: 2rem;
// }
// .container__cta a{
//     text-decoration: none;
//     color: var(--color-texblack);
//     font-family: "Poppins", serif; font-size: 1rem;
//     font-weight: 500;

// }
// .principal__btn{
//     background-color: var(--secundary-button);

//     padding: 8px 24px;
//     text-align: center;
//     margin-top: 48px;
//     margin-bottom: 48px;
//     border-radius: 10px;
//     box-shadow: 0 0 5px 0  var(--color-headings);
//     border: #F6F6F6 1px solid;
//     transition: all 0.2s ease-in 0s;
// }
// .principal__btn:hover{
//     background-color: #FFD700;
//     transition: all 0.2s ease-in-out 0s;
// }

/* CURSO INTERMEDIO */
// #intermedio{
//     width: 100%;
//     height: 100%;

// }
// .intermedio__tittle {
//     width: 100%;
//     display: flex;
//   justify-content: center;
//   margin-top: 3rem;
//   margin: auto;

// }

// .intermedio__tittle h2{

//      display: flex;
//     justify-content: center;
//     padding:  16px ;
//     color: var(--secundary-button);
//     font-size: 1.5rem;
//     margin: 0;
//     width: 100%;
//     height: 100%;


// }
// .intermedio__parrafo{
//     display: flex;
//     max-width: 91%;
//     margin: 0 72px;

// }

// .container__card{
//     min-width: 500px;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//     gap: 4rem;
//     text-align: center;
//     margin-top: 64px;

// }

// .card__base{
//     width: 280px;
//     height: 350px;
//     border-radius: 8px;
//     box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
// }
// .intermedio-1{
//     background-image: url(../../images/cenir.png);
//     background-size: cover;
//     background-repeat: no repeat;
// }
// .intermedio-1 h2{
//     display: flex;
//     justify-content: flex-end;
//     padding-right: 1rem;
//     color: var(--color-texblack);
//     font-weight: 500; font-family: cursive;
// }
// .intermedio-2{
//     background-image: url(../../images/transiciones.png);
//     background-size: cover;
//     background-repeat: no repeat;
// }
// .intermedio-2 h2{
//     display: flex;
//     justify-content: flex-end;
//     padding-right: 1rem;
//     color: var(--color-texblack);
//     font-weight: 500; font-family: cursive;
// }
// .intermedio-3{
//     background-image: url(../../images/fluidez.png);
//     background-size: cover;
//     background-repeat: no repeat;
// }
// .intermedio-3 h2{
//     display: flex;
//     justify-content: flex-end;
//     padding-right: 1rem;
//     color: var(--color-texblack);
//     font-weight: 500; font-family: cursive;
// }

/* CURSO AVANZADO */
// #avanzado{
//       width: 100%;
//       height: 100%;
// }
// .avanzado__tittle h2{
//     display: flex;
//     justify-content: center;
//     padding:  16px ;
//     color: var(--secundary-button);
//     font-size: 1.5rem;
//     margin: 0;

// }
// .avanzado__parrafo{
//     display: flex;
//     max-width: 91%;
//     margin: 0 72px;

// }

// .container_avanzado{
//     min-width: 500px;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//     gap: 4rem;
//     text-align: center;
//     margin-top: 64px;

// }
// .card__base{
//     width: 280px;
//     height: 350px;
//     border-radius: 8px;
//     box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
// }
// .avanzado-1{
//     background-image: url(../../images/saltos.png);
//     background-size: cover;
//     background-repeat: no repeat;
// }
// .avanzado-1 h2{
//     display: flex;
//     justify-content: flex-end;
//     padding-right: 1rem;
//     color: var(--color-texblack);
//     font-weight: 500; font-family: cursive;
// }
// .avanzado-2{
//     background-image: url(../../images/trucos.png);
//     background-size: cover;
//     background-repeat: no repeat;
// }
// .avanzado-2 h2{
//     display: flex;
//     justify-content: flex-end;
//     padding-right: 1rem;
//     color: var(--color-texblack);
//     font-weight: 500; font-family: cursive;
// }
// .avanzado-3{
//     background-image: url(../../images/strapples.png);
//     background-size: cover;
//     background-repeat: no repeat;
// }
// .avanzado-3 h2{
//     display: flex;
//     justify-content: flex-end;
//     padding-right: 1rem;
//     color: var(--color-texblack);
//     font-weight: 500; font-family: cursive;
// }