
.nosotros-body {
    background-color: rgb(236, 231, 231);
   
  article{
    color: black;
  }
    #nosotros{
        width: 100%;
        height: 100%;
    
    .nosotros__tittle{
        display: flex;
        justify-content: center;
        margin-top: 3rem ;
        margin-bottom: 0.9rem;
        h1{
            color: var(--secundary-button);
            z-index: 9;
            margin-top: 7rem;
        }
     }
        .nosotros__article{
            display: flex;
            width: 100%;
            padding: 0 72px;
            line-height: 1.5;
            text-align: justify;
            margin-top: 5rem;
        }
            .fundadores{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                flex-wrap: wrap;
                margin-top: 48px;
                margin-bottom: 48px;
                padding: 0 72px;
                img{
                    width: 212px;
                    height: 212px;
                    background-color:rgb(163, 163, 163);
                    margin: 0 24px;
                }
        }
   }  
}
    #section-location{
               width: 100%;
               height: 100%;
               .locacion__tittle{
                    display: flex;
                    justify-content: center;
                    margin-top: 2rem ;
                    margin-bottom: 0.9rem;
                    }
                .parrafo__locacion{
                        display: flex;
                        width: 100%;
                        padding: 0 72px;
                        line-height: 1.6;
                        text-align: justify;
                p{
                       color: black;
                        }         
                 }  
         }

    #location-map{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 48px;
     }
     .nosotros__iframe{
        width: 600px;
        display: flex;
         justify-content: center;
         margin-top: 48px;
        
     }
        .nosotros__btn{
                box-shadow: 0 0 5px 0  black;
         }

  
         @media screen and (max-width: 768px) {
            .nosotros-body {
                #nosotros{
                .nosotros__tittle{
                    margin-top: 3rem ;
                 }
                    .nosotros__article{
                     
                        padding: 0 36px;
                        line-height: 1.5;
                        text-align: justify;
                        margin-top: 3rem;
                    }
                        .fundadores{
                            gap: 2rem;
                            padding: 0 36px;
                      
                    }
               }  
            }

         }
         #section-location{
   
             .parrafo__locacion{
                    padding: 0 36px;
                     line-height: 1.5;
              }  
      }

 #location-map{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin-top: 48px;
  }
  .nosotros__iframe{
     width: 500px;
   
  }
 

    @media screen and (max-width: 480px) {
        .nosotros-body {
            #nosotros{
            .nosotros__tittle{
                margin-top: 3rem ;
             }
                .nosotros__article{
                    margin-top: 1.5rem;
                 }
            }  
     }
     #section-location{

         .parrafo__locacion{
                padding: 0 36px;
                 text-align: justify;
          }  
  }

        #location-map{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 48px;
}
        .nosotros__iframe{
            width: 280px;
      }
    }
@media screen and (max-width: 320px) {
    
.nosotros-body {

    #nosotros{
    
    .nosotros__tittle{
        display: flex;
        justify-content: center;
        margin-top: 3rem ;
        margin-bottom: 0.9rem;
        h1{
            color: var(--secundary-button);
            z-index: 9;
            margin-top: 5rem;
        }
     }
        .nosotros__article{
            margin-top: 1rem;
        }
            .fundadores{
                padding: 0 16px;
                img{
                    width: 200px;
                    height: 200px;
                }
           }
      }  
}
    #section-location{
           .parrafo__locacion{
                    
                padding: 0 16px;
                line-height: 1.5;
                text-align: justify;
            }  
         }

    #location-map{
         margin: 0.5rem; 
     }
     .nosotros__iframe{
        width: 250px;
        height: 250px;
         margin-top: 0.5rem;
     }
    
}