#safaris{
    width: 100%;
    height: 100%;
    .safaris__tittle{
        display: flex;
      justify-content: center;
      margin-top: 10rem;
      z-index: 9;
      h1{
        color: var(--secundary-button);
      }
    }
    .safaris__article{
        display: flex;
        margin: 0 72px;
        text-align: justify;
    
    }
    .container__video1{
        display: block;
         text-align: center;
        margin-top: 48px;
    
    
    }
    .container__video2{
        display: block;
         text-align: center;
        margin-top: 48px;
    }
    .video{
        width: 80%;
        height: 500px;
        box-shadow: 0 0 5px 0 white;
        border-radius: 8px;
    }
}

@media screen and (max-width: 768px) {
    #safaris{
        .safaris__tittle{
          margin-bottom: 1rem;
        
        .safaris__article{
            margin: 0 72px;
            text-align: justify;
        }   
    .video{
        width: 60%;
        height: 300px;
       }  
    }
  }
}

@media screen and (max-width: 480px) {
    #safaris{
        .safaris__article{
            margin: 0 36px;   
        }
        .safaris__tittle{
          margin-bottom: 1rem;
        }
    .video{
        width: 80%;
        height: 250px;
       }  
    }
  }

  @media screen and (max-width: 320px) {
    #safaris{
        .safaris__article{
            margin: 0 16px;   
            text-align: center;
        }
        .safaris__tittle{
          margin-bottom: 1rem;
        }
    .video{
        width: 80%;
        height: 250px;
       }  
    }
  }


