#safaris{
    width: 100%;
    height: 100%;
    .safaris__tittle{
        display: flex;
      justify-content: center;
      margin-top: 3rem;
    }
    .safaris__article{
        display: flex;
        max-width: 100%;
        margin: 0 72px;
        text-align: justify;
    
    }
    .container__video1{
        display: block;
         text-align: center;
        margin-top: 48px;
    
    
    }
    .container__video2{
        display: block;
         text-align: center;
        margin-top: 48px;
    }
    .video{
        width: 80%;
        height: 500px;
        box-shadow: 0 0 5px 0 white;
        border-radius: 8px;
    }
}

@media screen and (max-width: 768px) {
    #safaris{
        
      
    .container__video1{
        margin-top: 24px;
    }
    .container__video2{
        margin-top: 24px;
    }
    .video{
        width: 80%;
        height: 300px;
    }  
  }
}



// #safaris{
//     width: 100%;
//     height: 100%;


// }

// .safaris__tittle{
//     display: flex;
//   justify-content: center;
//   margin-top: 3rem;
// }
// .safaris__article{
//     display: flex;
//     max-width: 100%;
//     margin: 0 72px;
//     text-align: justify;

// }
// .container__video1{
//     display: block;
//      text-align: center;
//     margin-top: 48px;


// }
// .container__video2{
//     display: block;
//      text-align: center;
//     margin-top: 48px;
// }
// .video{
//     box-shadow: 0 0 5px 0 white;
//     border-radius: 8px;
// }