header{
    display: flex;
     position: sticky;
     z-index: 10;
    background: linear-gradient(109deg, rgba(0, 1, 13, 0.30) 12.87%, rgba(72, 184, 199, 0.30) 86.46%), #00010E;
    box-shadow: #b0b0b0 0px 0px 4px 0px;

    nav{
        padding: 0;
        background-color: rgb(2, 0, 23);
        height: auto;

    .container{
        height: 20px;
        height: 10%
    }
    img {
        display: inline-block;
        width: 140px;
    }
    .navbar-toggler {
        border:none;
        box-shadow: none;

        &:hover {
            background-color: transparent;
             border: none;
        }
        .navbar-toggler-icon {
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="rgba(255, 255, 255,5)" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
        &:focus {
            box-shadow: none;
        }  
    .nav-link {
        text-decoration: none;
        color:#F6F6F6;
        font-family: "Inter", serif;
        font-weight: 400;
        font-size: 1rem;
        transition:all 0.2s ease 0s ;
    }
        .nav-link:hover{
            color:var(--color-button);
            border-bottom: var(--color-button) 1px solid;
            transition: 100ms;
            }
         }
      }
 }
    
   .buttom__nav{
    width: 158px;
    height: 44px;
    margin: 0;
     background-color: transparent;
    color:#ffff;
    font-family:"inter";
    font-weight: 500;
    font-size: 16px;
    padding: 0 12px;
    border: solid 1px #f6f6f6 ;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    
        &:hover{
            color:var(--secundary-button);
            transition: all 0.5s ease 0s;
            border: solid 1px var(--secundary-button-hover);
          
       }
    }
  }
    @media screen and (max-width: 768px) {
       
       .buttom__nav{
            margin-left: 24px;  
        }
        .navbar-toggler{
            box-shadow: none;
            &:hover{
                box-shadow: none;
            }
        }
    }

  @media screen and (max-width: 480px) {
    header{
        .buttom__nav{
            display: none;

        }
    }
  }  

  @media screen and (max-width: 320px) {
    header{
       
        .buttom__nav{
            display: none;

        }
    }
  }  
