@mixin mobile() {
    @media screen and (max-width: 480px) {
        @content;
    }
}


//  @mixin tablet{
//    @media screen and (max-width: 768px) {
//      @content;
    
//    }
// }

// @include tablet() {
//     header{
//         .buttom__nav{
//             width: 138px;
//             height: 40px;
//             margin-left: 20px;
//         }
//     }
//     main{
//         .hero{
//             width: 100vw;
//             height: 80vh;
    
//         }
//         .container__hero{
//             .hero__content{
//                 height: 100vh;
//                background-position-x:62%;
//             }
//             .hero__titulo{
//                 font-family: "Barlow Condensed", serif; font-size:3.5rem; color: #fff; font-weight: bold;      
//       }
//     }
//     .hero__parrafo{
//         margin: 0;
//          width: 60%;
//          padding: 0 4px;
//          line-height: 1.5;
//          padding: 0;
         
//          .hero-parrafo{
//             font-weight: 600; font-size: 1rem;
//             margin: 0;
//            }
//        }
//        .hero__cta{
//         width: 144px;
//         height: 44px;
//         font-size: 0.9rem;   
//        }
//      }
// }
 /* section2/inicio */
//  #section-cards{
//     h1{
//     margin-top: 1rem ;
//     font-size: 1.3rem;
//   }

 
//  @include tablet() {
//     .cards__container{
//     .--1{
//         margin-top: 0.5rem;
//     }
//     .--2{
//         margin-top: 1rem;
//     }
//     .--3{
//         margin-top: 0.2rem;
//     }
//     }
//   } 
  
    
    
   
    
    
    
    
//     main{
//     .hero{
//         width: 100vw;
//         height: 80vh;

//     }
// }
//     .hero__content{
//         height: 100vh;
//        background-position-x:62%;
//     }
    
    
    //   .hero__parrafo{
    //    margin: 0;
    //     width: 60%;

    //     padding: 0 10px;
    //     line-height: 1.5;
    //     margin: 1rem;
    //     padding: 0;
    //   }
    // .container__hero{
    //     p{
    //         font-weight: 600; font-size: 0.9rem;
    //         }
    // } 
    // .hero__cta{
    //     width: 150px;
    //     height: 44px;
    //     font-size: 0.9rem;
    // }

    // .hero__cta:hover{
    //     font-size: 0.9rem ; color: #000000;
    // }
//     /* section2/inicio */
//     .section2__titulo  h1{
//         margin-top: 7rem ;
//         font-size: 1.5rem;
//     }

// }



