
h1{
    font-family: "Poppins", serif; font-weight: 600; font-size: 24px; color: #fb0000;

}
h2{
    font-family: "Poppins", serif; font-weight: 500 ; font-size: 20px; color: #FFC000; 
}
h3{
    font-family: "Poppins", serif; font-weight: 500; font-size: 16px; color: #fff;
}
p,article{
    font-family: "Poppins", serif; font-weight: 300; font-size: 16px; color: #f0f0f0;

}
