/*abstracts*/
/*base de logos*/
.img__iko {
  width: 125px;
  height: 125px;
  margin-top: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../images/iko.png);
}

.img__logo-certificaciones {
  width: 125px;
  height: 125px;
  margin-top: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../images/logo-winda.png);
}

.img__logo-firstaid {
  width: 125px;
  height: 125px;
  margin-top: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../images/firstsaid.png);
  width: 75px;
  height: 125px;
  margin-top: 18px;
  background-size: contain;
}

/*base de cards/lecciones*/
.iniciante-1 {
  width: 340px;
  height: 370px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
  background-image: url(../../images/nociones\ basicas.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.iniciante-1 h2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-top: 8px;
  color: var(--color-texblack);
  font-weight: 600;
  font-family: cursive;
}

.iniciante-2 {
  width: 340px;
  height: 370px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
  background-image: url(../../images/waterstart.webp);
  background-size: cover;
  background-repeat: no repeat;
  background-position-x: 300%;
}
.iniciante-2 h2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-top: 8px;
  color: var(--color-texblack);
  font-weight: 600;
  font-family: cursive;
}

.iniciante-3 {
  width: 340px;
  height: 370px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
  background-image: url(../../images/bodydrag.webp);
  background-size: cover;
  background-repeat: no repeat;
}
.iniciante-3 h2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-top: 8px;
  color: var(--color-texblack);
  font-weight: 600;
  font-family: cursive;
}

.intermedio-1 {
  width: 340px;
  height: 370px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
  background-image: url(../../images/cenir.webp);
  background-size: cover;
  background-repeat: no repeat;
}
.intermedio-1 h2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-top: 8px;
  color: var(--color-texblack);
  font-weight: 600;
  font-family: cursive;
}

.intermedio-2 {
  width: 340px;
  height: 370px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
  background-image: url(../../images/transiciones.webp);
  background-size: cover;
  background-repeat: no repeat;
}
.intermedio-2 h2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-top: 8px;
  color: var(--color-texblack);
  font-weight: 600;
  font-family: cursive;
}

.intermedio-3 {
  width: 340px;
  height: 370px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
  background-image: url(../../images/fluidez.webp);
  background-size: cover;
  background-repeat: no repeat;
}
.intermedio-3 h2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-top: 8px;
  color: var(--color-texblack);
  font-weight: 600;
  font-family: cursive;
}

.avanzado-1 {
  width: 340px;
  height: 370px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
  background-image: url(../../images/saltos.webp);
  background-size: cover;
  background-repeat: no repeat;
}
.avanzado-1 h2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-top: 8px;
  color: var(--color-texblack);
  font-weight: 600;
  font-family: cursive;
}

.avanzado-2 {
  width: 340px;
  height: 370px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
  background-image: url(../../images/trucos.webp);
  background-size: cover;
  background-repeat: no repeat;
}
.avanzado-2 h2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-top: 8px;
  color: var(--color-texblack);
  font-weight: 600;
  font-family: cursive;
}

.avanzado-3 {
  width: 340px;
  height: 370px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
  background-image: url(../../images/strapples.webp);
  background-size: cover;
  background-repeat: no repeat;
}
.avanzado-3 h2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  padding-right: 1rem;
  color: var(--color-texblack);
  font-weight: 600;
  font-family: cursive;
}

@media screen and (max-width: 768px) {
  .card__base {
    width: 220px;
    height: 280px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
  }
  .card__base h2 {
    font-size: 14px;
    font-weight: 300;
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .card__base {
    width: 220px;
    height: 280px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
    margin-top: 0;
  }
}
@media screen and (max-width: 320px) {
  .card__base {
    width: 220px;
    height: 280px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgb(167, 167, 167);
    display: flex;
    flex-direction: column;
  }
}
/*medias queries*/
/*base*/
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  background: var(--main-gradient, linear-gradient(168deg, rgba(0, 1, 13, 0.3) -62.4%, rgba(9, 40, 46, 0.3) 4.32%, rgba(72, 184, 199, 0.3) 166.08%), #00010E);
  background: var(--nav-gradient, linear-gradient(109deg, rgba(0, 1, 13, 0.3) 12.87%, rgba(72, 184, 199, 0.3) 86.46%), #00010E);
  --color-button: #00a6c4;
  --secundary-button: #FFC000;
  --secundary-button-hover: #FFD700;
  --color-headings: #f6f6f6;
  --color-text: #D9D9D9;
  --color-texblack: #00010E;
  --color-parrafo-card:#2a2a2a;
}

body {
  background-color: var(--main-gradient);
}

p {
  text-align: left;
}

h1 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

h2 {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 20px;
  color: #FFC000;
}

h3 {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-size: 16px;
  color: #f0f0f0;
}

article {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-size: 16px;
  color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  body h1 {
    font-size: 1.4rem;
  }
  body h2 {
    font-size: 1.2rem;
  }
  body h3 {
    font-size: 1rem;
  }
  body p {
    font-size: 1rem;
  }
  body article {
    line-height: 1.4;
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  body h1 {
    font-size: 1.2rem;
  }
  body h2 {
    font-size: 1rem;
  }
  body h3 {
    font-size: 0.9rem;
  }
  body p {
    font-size: 0.9rem;
  }
  body article {
    font-size: 0.9rem;
  }
}
/*componets*/
/*nav buttom*/
.buttom__nav {
  width: 158px;
  height: 44px;
  margin: 0;
  background-color: transparent;
  color: white;
  font-family: "inter";
  font-weight: 500;
  font-size: 16px;
  padding: 0 12px;
  border: solid 1px #f6f6f6;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.buttom__nav:hover {
  color: var(--secundary-button);
  transition: all 0.5s ease 0s;
  border: solid 1px var(--secundary-button-hover);
}

/*hero buttom*/
.hero__cta {
  width: 190px;
  height: 52px;
  background-color: #60f7ff;
  font-size: 18px;
  color: #000000;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 2px 10px 0px #010323;
  margin-top: 4px;
  cursor: pointer;
}
.hero__cta:hover {
  background-color: var(--secundary-button);
  border-radius: 20px;
  box-shadow: 0 2px 10px 0px #010323;
  transition: all 0.2s ease-in-out 0s;
  color: #000000;
  font-weight: 500;
  box-shadow: none;
}

/*cards buttom*/
.card__cta {
  background-color: var(--secundary-button);
  border-radius: 100px;
  font-weight: 600;
  border: none;
  box-shadow: 0 2px 4px 0px #000647;
  padding: 8px 0;
  border-radius: 10px;
  transition: all 0.2s ease-in 0s;
}
.card__cta a {
  text-decoration: none;
  color: var(--color-texblack);
  font-family: "Poppins", serif;
  margin: auto;
}
.card__cta:hover {
  background-color: var(--secundary-button-hover);
  border-radius: 100px;
  font-size: 16px;
  color: #000000;
  color: var(--color-texblack);
  font-weight: 500;
  box-shadow: none;
  transition: all 0.2s ease-out 0s;
}

.--1 {
  display: inline-block;
  padding: 8px 24px;
}

.--2 {
  display: inline-block;
  padding: 8px 24px;
  margin-top: 1.2rem;
}

.--3 {
  display: inline-block;
  padding: 8px 24px;
}

/*main button*/
.principal__btn {
  display: inline-block;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 48px;
  background-color: #FFC000;
  width: 200px;
  height: 40px;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 var(--color-headings);
  border: #F6F6F6 1px solid;
  transition: all 0.2s ease-in 0s;
}
.principal__btn:hover {
  background-color: #FFD700;
  transition: all 0.2s ease-in-out 0s;
}
.principal__btn a {
  text-decoration: none;
  color: var(--color-texblack);
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .hero__cta {
    width: 145px;
    height: 44px;
  }
  .hero__cta .principal__btn {
    width: 140px;
    height: 38px;
    padding: 6px;
  }
  .hero__cta .nosotros__btn {
    width: 150px;
    height: 40px;
  }
  .hero__cta .nosotros__btn a {
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: 500;
  }
}
@media screen and (max-width: 480px) {
  .hero__cta {
    width: 120px;
    height: 38px;
    background-color: #60f7ff;
    margin-left: 0;
    font-size: 14px;
    margin-top: 3rem;
  }
  .card__cta {
    width: 150px;
    height: 34px;
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .hero__cta {
    width: 120px;
    height: 38px;
    background-color: #60f7ff;
    margin-left: 0;
    font-size: 14px;
    margin-top: 6rem;
  }
  .card__cta {
    width: 150px;
    height: 34px;
    font-size: 14px;
  }
}
/*cards inicio*/
.cards {
  background-color: #fdfdfd;
  width: 340px;
  height: 380px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgb(142, 142, 142);
  margin: 0;
  margin-top: 48px;
  transition: 0.3s ease-in-out;
}
.cards:hover {
  transform: scale(105%);
}

.cards .img_1 {
  height: 200px;
  margin: 4px 4px;
  border-radius: 8px;
  background-image: url(../../images/cardkite.webp);
  background-size: cover;
  background-repeat: no repeat;
}
.cards .img_2 {
  height: 200px;
  margin: 4px 4px;
  border-radius: 8px;
  background-image: url(../../images/cardwing.webp);
  background-size: cover;
  background-repeat: no repeat;
}
.cards .img_3 {
  height: 200px;
  margin: 4px 4px;
  border-radius: 8px;
  background-image: url(../../images/cardfoil.webp);
  background-size: cover;
  background-repeat: no repeat;
}
.cards .contenido_titulo h2 {
  color: var(--color-texblack);
  font-weight: 600;
  margin: 4px;
}
.cards .card_parrafo P {
  color: var(--color-texblack);
  margin: 0px 1rem;
  text-align: center;
  line-height: 1.4;
  text-align: justify;
}

@media (max-width: 480px) {
  .cards {
    width: 250px;
    height: 380px;
    margin: 0;
    margin-top: 48px;
  }
}
@media (max-width: 320px) {
  .cards__container {
    width: 100%;
    margin: 0;
    padding: 0 24px;
  }
  .cards {
    width: 220px;
    height: 320px;
    margin: 0;
    margin-top: 48px;
    overflow: hidden;
  }
  .cards .img_1 {
    height: 120px;
  }
  .cards .img_2 {
    height: 120px;
    margin: 4px 4px;
    border-radius: 8px;
    background-image: url(../../images/cardwing.webp);
    background-size: cover;
    background-repeat: no repeat;
  }
  .cards .img_3 {
    height: 120px;
    margin: 4px 4px;
    border-radius: 8px;
    background-image: url(../../images/cardfoil.webp);
    background-size: cover;
    background-repeat: no repeat;
  }
  .cards .contenido_titulo h2 {
    color: var(--color-texblack);
    font-weight: 600;
    margin: 4px;
  }
  .cards .card_parrafo P {
    color: var(--color-texblack);
    margin: 0px 1rem;
    text-align: center;
    line-height: 1.4;
    text-align: justify;
  }
}
/*layouts*/
/*nav-bootstrap*/
header {
  display: flex;
  position: sticky;
  z-index: 10;
  background: linear-gradient(109deg, rgba(0, 1, 13, 0.3) 12.87%, rgba(72, 184, 199, 0.3) 86.46%), #00010E;
  box-shadow: #b0b0b0 0px 0px 4px 0px;
}
header nav {
  padding: 0;
  background-color: rgb(2, 0, 23);
  height: auto;
}
header nav .container {
  height: 20px;
  height: 10%;
}
header nav img {
  display: inline-block;
  width: 140px;
}
header nav .navbar-toggler {
  border: none;
  box-shadow: none;
}
header nav .navbar-toggler:hover {
  background-color: transparent;
  border: none;
}
header nav .navbar-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="rgba(255, 255, 255,5)" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}
header nav .navbar-toggler .navbar-toggler-icon:focus {
  box-shadow: none;
}
header nav .navbar-toggler .navbar-toggler-icon .nav-link {
  text-decoration: none;
  color: #F6F6F6;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 1rem;
  transition: all 0.2s ease 0s;
}
header nav .navbar-toggler .navbar-toggler-icon .nav-link:hover {
  color: var(--color-button);
  border-bottom: var(--color-button) 1px solid;
  transition: 100ms;
}
header .buttom__nav {
  width: 158px;
  height: 44px;
  margin: 0;
  background-color: transparent;
  color: white;
  font-family: "inter";
  font-weight: 500;
  font-size: 16px;
  padding: 0 12px;
  border: solid 1px #f6f6f6;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
header .buttom__nav:hover {
  color: var(--secundary-button);
  transition: all 0.5s ease 0s;
  border: solid 1px var(--secundary-button-hover);
}

@media screen and (max-width: 768px) {
  .buttom__nav {
    margin-left: 24px;
  }
  .navbar-toggler {
    box-shadow: none;
  }
  .navbar-toggler:hover {
    box-shadow: none;
  }
}
@media screen and (max-width: 480px) {
  header .buttom__nav {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  header .buttom__nav {
    display: none;
  }
}
/*pages*/
/*inicio*/
/* section hero /inicio */
main .section__hero {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .container__hero .hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100vh;
  padding-left: 72px;
  background-image: url(../../images/image_background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .container__hero .hero__content .hero__titulo {
  font-family: "Barlow Condensed", serif;
  font-size: 120px;
  color: #fff;
  font-weight: bold;
  padding: 0 10px;
  margin: 0;
}
main .container__hero .hero__content .hero__titulo span {
  color: var(--color-button);
}
main .container__hero .hero__content .hero__parrafo {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 60%;
  padding: 0 10px;
  color: var(--color-texblack);
  font-weight: 600;
  font-size: 18px;
}
main .container__hero .hero__content .hero-parrafo {
  width: 100%;
  color: var(--color-texblack);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
}

/* section2-cards/inicio*/
#section-cards {
  width: 100%;
  height: 100%;
}
#section-cards .section2__titulo {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 0.9rem;
}
#section-cards h1 {
  color: var(--secundary-button);
}
#section-cards .section2__parrafo {
  display: flex;
  width: 100%;
  padding: 0 72px;
  text-align: left;
}
#section-cards .cards__container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 72px;
}

/*section 3/safaris*/
#section-safaris {
  width: 100%;
  height: 100%;
}
#section-safaris .section3__titulo h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  margin-top: 5rem;
  margin-bottom: 0.9rem;
  color: var(--secundary-button);
}
#section-safaris .section3__parrafo {
  display: flex;
  width: 100%;
  padding: 0 72px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 2rem;
}
#section-safaris #carouselExampleFade {
  z-index: 1;
}
#section-safaris #carouselExampleFade .carousel-inner {
  width: 70%;
  height: 70%;
  margin: auto;
}
#section-safaris #carouselExampleFade .carousel-item .d-block {
  width: 100%;
  height: 500px;
  box-shadow: 0px 0 10px 0px whitesmoke;
  border-radius: 15px;
}
#section-safaris #carouselExampleFade .carousel-item .carousel__subtitulo {
  color: var(--color-headings);
  font-weight: 500;
  font-family: cursive;
  letter-spacing: 1.5px;
  text-align: center;
  padding-top: 1rem;
}
#section-safaris .carousel-control-prev {
  margin-top: 14%;
  border: 1px solid var(--color-text);
  background: linear-gradient(109deg, rgba(0, 1, 13, 0.3) 12.87%, rgba(72, 184, 199, 0.3) 86.46%), #00010E;
  border-radius: 20px;
  width: 5%;
  height: 8%;
  margin: 0 5%;
  z-index: 1;
  cursor: pointer;
}
#section-safaris .carousel-control-prev span {
  margin-left: 1rem;
}
#section-safaris .carousel-control-next {
  margin-top: 14%;
  border: 1px solid var(--color-text);
  background: linear-gradient(109deg, rgba(0, 1, 13, 0.3) 12.87%, rgba(72, 184, 199, 0.3) 86.46%), #00010E;
  border-radius: 20px;
  width: 5%;
  height: 8%;
  margin: 0 5%;
  z-index: 1;
  cursor: pointer;
}
#section-safaris .carousel-control-next span {
  margin-left: 1rem;
}

/* section 4 inicio/ certificaciones  */
#section-certificaciones {
  width: 100%;
  height: 100%;
}
#section-certificaciones .certificaciones__titulo {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
#section-certificaciones .certificaciones__parrafo {
  display: flex;
  width: 100%;
  padding: 0 72px;
  line-height: 1.6;
  text-align: justify;
}
#section-certificaciones .img__certificaciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.5rem;
}
#section-certificaciones .logo__container {
  display: flex;
  align-items: center;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: var(--color-texblack);
  border-radius: 50%;
  box-shadow: var(--color-text) 0px 0px 15px 0px;
}
#section-certificaciones .logo__container .logo-certificaciones {
  background-image: url(../../images/iko.png);
  width: 125px;
  height: 125px;
  margin-top: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  main .hero {
    width: 100vw;
    height: 80vh;
  }
  main .container__hero .hero__content {
    height: 100vh;
    background-position-x: 62%;
  }
  main .container__hero .hero__content .hero__titulo {
    font-family: "Barlow Condensed", serif;
    font-size: 3.5rem;
    color: #fff;
    font-weight: bold;
  }
  main .container__hero .hero__parrafo {
    margin: 0;
    width: 60%;
    padding: 0 4px;
    line-height: 1.5;
    padding: 0;
  }
  main .container__hero .hero__parrafo .hero-parrafo {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .cards__container .--1 {
    margin-top: 0.5rem;
  }
  .cards__container .--2 {
    margin-top: 1rem;
  }
  .cards__container .--3 {
    margin-top: 0.2rem;
  }
  #section-safaris .carousel-control-prev {
    width: 8%;
    height: 10%;
  }
  #section-safaris .carousel-control-next {
    width: 8%;
    height: 10%;
  }
  #carouselExampleFade {
    z-index: 1;
  }
  #carouselExampleFade .carousel-inner {
    width: 70%;
    height: 70%;
    margin: auto;
  }
  #carouselExampleFade .carousel-item .d-block {
    width: 100%;
    height: 500px;
    box-shadow: 0px 0 10px 0px whitesmoke;
    border-radius: 15px;
  }
  #carouselExampleFade .carousel-item .carousel__subtitulo {
    color: var(--color-headings);
    font-weight: 500;
    font-family: cursive;
    letter-spacing: 1.5px;
    text-align: center;
    padding-top: 1rem;
  }
  .carousel-control-prev {
    margin-top: 14%;
    border: 1px solid var(--color-text);
    background: linear-gradient(109deg, rgba(0, 1, 13, 0.3) 12.87%, rgba(72, 184, 199, 0.3) 86.46%), #00010E;
    border-radius: 20px;
    width: 5%;
    height: 8%;
    margin-left: 5%;
    z-index: 1;
    cursor: pointer;
  }
  .carousel-control-next {
    margin-top: 14%;
    border: 1px solid var(--color-text);
    background: linear-gradient(109deg, rgba(0, 1, 13, 0.3) 12.87%, rgba(72, 184, 199, 0.3) 86.46%), #00010E;
    border-radius: 20px;
    width: 5%;
    height: 8%;
    margin-right: 5%;
    z-index: 1;
    cursor: pointer;
  }
}
#section-certificaciones .certificaciones__titulo {
  margin-top: 1.5rem;
}
#section-certificaciones .logo__container {
  margin: 1.2rem;
  width: 140px;
  height: 140px;
}
#section-certificaciones .logo__container .logo-certificaciones {
  width: 115px;
  height: 115px;
}

@media screen and (max-width: 480px) {
  main .hero {
    width: 100vw;
    height: 80vh;
  }
  main .container__hero .hero__content {
    height: 70vh;
    background-position-x: 62%;
    padding: 0 36px;
    margin-top: 3rem;
  }
  main .container__hero .hero__content .hero__titulo {
    font-family: "Barlow Condensed", serif;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
  }
  main .container__hero .hero__content .hero__parrafo {
    width: 74%;
    height: 85px;
    padding: 0 4px;
    line-height: 1.2;
    margin-top: 0;
  }
  main .container__hero .hero__content .hero__parrafo .hero-parrafo {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  #section-cards .section2__parrafo {
    display: flex;
    width: 100%;
    padding: 0 36px;
    text-align: left;
  }
  #section-cards .cards__container {
    margin: 0 36px;
  }
  #section-safaris .section3__parrafo {
    padding: 0 36px;
    line-height: 1.5;
  }
  #carouselExampleFade .carousel-control-prev {
    width: 5%;
    height: 10%;
    border-radius: 10px;
    padding: 4px 4px;
  }
  #carouselExampleFade .carousel-control-next {
    border-radius: 10px;
    width: 5%;
    height: 10%;
    padding: 4px 4px;
  }
  #section-certificaciones {
    width: 100%;
    height: 100%;
  }
  #section-certificaciones .certificaciones__titulo {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  #section-certificaciones .certificaciones__parrafo {
    padding: 0 36px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 320px) {
  main .hero {
    width: 100vw;
    height: 80vh;
  }
  main .container__hero .hero__content {
    height: 75vh;
    background-position-x: 62%;
  }
  main .container__hero .hero__content .hero__titulo {
    font-family: "Barlow Condensed", serif;
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
  }
  main .container__hero .hero__parrafo {
    margin: 0;
    width: 70%;
    line-height: 1.2;
  }
}
#section-cards .section2__parrafo {
  padding: 0 16px;
}
#section-cards .cards__container {
  margin: 0;
  padding: 0;
}

#section-safaris .section3__parrafo {
  padding: 0 16px;
  line-height: 1.5;
}

#section-certificaciones .certificaciones__titulo {
  margin-top: 1.5rem;
}
#section-certificaciones .certificaciones__parrafo {
  padding: 0 16px;
  line-height: 1.5;
}

/*nosotros*/
.nosotros-body {
  background-color: rgb(236, 231, 231);
}
.nosotros-body article {
  color: black;
}
.nosotros-body #nosotros {
  width: 100%;
  height: 100%;
}
.nosotros-body #nosotros .nosotros__tittle {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 0.9rem;
}
.nosotros-body #nosotros .nosotros__tittle h1 {
  color: var(--secundary-button);
  z-index: 9;
  margin-top: 7rem;
}
.nosotros-body #nosotros .nosotros__article {
  display: flex;
  width: 100%;
  padding: 0 72px;
  line-height: 1.5;
  text-align: justify;
  margin-top: 5rem;
}
.nosotros-body #nosotros .fundadores {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-bottom: 48px;
  padding: 0 72px;
}
.nosotros-body #nosotros .fundadores img {
  width: 212px;
  height: 212px;
  background-color: rgb(163, 163, 163);
  margin: 0 24px;
}

#section-location {
  width: 100%;
  height: 100%;
}
#section-location .locacion__tittle {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 0.9rem;
}
#section-location .parrafo__locacion {
  display: flex;
  width: 100%;
  padding: 0 72px;
  line-height: 1.6;
  text-align: justify;
}
#section-location .parrafo__locacion p {
  color: black;
}

#location-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.nosotros__iframe {
  width: 600px;
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.nosotros__btn {
  box-shadow: 0 0 5px 0 black;
}

@media screen and (max-width: 768px) {
  .nosotros-body #nosotros .nosotros__tittle {
    margin-top: 3rem;
  }
  .nosotros-body #nosotros .nosotros__article {
    padding: 0 36px;
    line-height: 1.5;
    text-align: justify;
    margin-top: 3rem;
  }
  .nosotros-body #nosotros .fundadores {
    gap: 2rem;
    padding: 0 36px;
  }
}
#section-location .parrafo__locacion {
  padding: 0 36px;
  line-height: 1.5;
}

#location-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.nosotros__iframe {
  width: 500px;
}

@media screen and (max-width: 480px) {
  .nosotros-body #nosotros .nosotros__tittle {
    margin-top: 3rem;
  }
  .nosotros-body #nosotros .nosotros__article {
    margin-top: 1.5rem;
  }
  #section-location .parrafo__locacion {
    padding: 0 36px;
    text-align: justify;
  }
  #location-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
  }
  .nosotros__iframe {
    width: 280px;
  }
}
@media screen and (max-width: 320px) {
  .nosotros-body #nosotros .nosotros__tittle {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 0.9rem;
  }
  .nosotros-body #nosotros .nosotros__tittle h1 {
    color: var(--secundary-button);
    z-index: 9;
    margin-top: 5rem;
  }
  .nosotros-body #nosotros .nosotros__article {
    margin-top: 1rem;
  }
  .nosotros-body #nosotros .fundadores {
    padding: 0 16px;
  }
  .nosotros-body #nosotros .fundadores img {
    width: 200px;
    height: 200px;
  }
  #section-location .parrafo__locacion {
    padding: 0 16px;
    line-height: 1.5;
    text-align: justify;
  }
  #location-map {
    margin: 0.5rem;
  }
  .nosotros__iframe {
    width: 250px;
    height: 250px;
    margin-top: 0.5rem;
  }
}
/*lecciones*/
/* pagina/LECCIONES */
#lecciones {
  width: 100%;
  height: 100%;
  margin-top: 48px;
}
#lecciones .container__lecciones .lecciones__tittle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
#lecciones .container__lecciones .lecciones__tittle h1 {
  color: var(--secundary-button);
  font-weight: 500;
  z-index: 10;
  margin-top: 3rem;
  text-align: center;
  padding: 0 16px;
}
#lecciones .container__lecciones .lecciones__subtitulo p {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  color: #ffffff;
  text-align: center;
  padding: 0 16px;
}
#lecciones .lecciones_content {
  display: flex;
  flex-direction: column;
  padding: 0;
  line-height: 1.6;
}
#lecciones .lecciones_content li {
  list-style: none;
}
#lecciones .container__cards {
  min-width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  margin-top: 64px;
  margin: 0;
}

.container__cta {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.container__cta a {
  text-decoration: none;
  color: var(--color-texblack);
  font-family: "Poppins", serif;
  font-size: 1rem;
  font-weight: 500;
}

#intermedio {
  width: 100%;
  height: 100%;
}
#intermedio .intermedio__tittle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin: auto;
}
#intermedio .intermedio-h2 {
  display: flex;
  justify-content: center;
  padding: 16px;
  color: var(--secundary-button);
  font-size: 1.5rem;
  margin: 0;
  width: 100%;
  height: 100%;
}

.intermedio__parrafo {
  display: flex;
  max-width: 91%;
  margin: 2rem;
}

.container__cards {
  min-width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  text-align: center;
  margin-top: 64px;
  margin: 0;
}

#avanzado {
  width: 100%;
  height: 100%;
}
#avanzado .avanzado__tittle h2 {
  display: flex;
  justify-content: center;
  padding: 16px;
  color: var(--secundary-button);
  font-size: 1.5rem;
  margin: 0;
}
#avanzado .avanzado__parrafo {
  display: flex;
  max-width: 91%;
  margin: 2rem 72px;
}
#avanzado .container_avanzado {
  min-width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  text-align: center;
  margin-top: 64px;
  margin: 0;
}

@media screen and (max-width: 480px) {
  #lecciones {
    width: 100%;
    height: 100%;
    margin-top: 0px;
  }
  #lecciones .container__lecciones .lecciones__tittle {
    margin-top: 4.5rem;
  }
  #lecciones .container__lecciones .lecciones__tittle h1 {
    z-index: 10;
    margin-top: 1.5rem;
  }
  #lecciones .container__lecciones .lecciones__subtitulo p {
    margin-bottom: 1rem;
    text-align: center;
    padding: 0 1rem;
  }
  #lecciones .lecciones_content {
    padding: 0 1rem;
    line-height: 1.6;
  }
  #lecciones .container__cards {
    min-width: 480px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    margin-top: 64px;
  }
  .container__cta {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .container__cta a {
    text-decoration: none;
    color: var(--color-texblack);
    font-family: "Poppins", serif;
    font-size: 1rem;
    font-weight: 500;
  }
  #intermedio .intermedio__tittle {
    margin-top: 3rem;
    margin: auto;
  }
  #intermedio .intermedio-h2 {
    padding-bottom: 1rem;
    font-size: 1.2rem;
  }
  .intermedio__parrafo {
    margin: 1rem 1rem;
  }
  .intermedio__parrafo p {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  .container__cards {
    min-width: 480px;
  }
  #avanzado .avanzado__tittle h2 {
    font-size: 1.2rem;
    margin: 0;
  }
  #avanzado .avanzado__parrafo {
    margin: 1rem 1rem;
  }
  #avanzado .avanzado__parrafo p {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  #avanzado .container_avanzado {
    min-width: 480px;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 320px) {
  #lecciones {
    width: 100%;
    height: 100%;
    margin-top: 0px;
  }
  #lecciones .container__lecciones .lecciones__tittle {
    margin-top: 4.5rem;
  }
  #lecciones .container__lecciones .lecciones__tittle h1 {
    z-index: 10;
    margin-top: 1.5rem;
  }
  #lecciones .container__lecciones .lecciones__subtitulo p {
    font-size: 0.8rem;
  }
  #lecciones .lecciones_content {
    padding: 0 1rem;
    line-height: 1.5;
  }
  #lecciones .container__cards {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    margin-top: 64px;
  }
  .container__cta {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .container__cta a {
    text-decoration: none;
    color: var(--color-texblack);
    font-family: "Poppins", serif;
    font-size: 1rem;
    font-weight: 500;
  }
  #intermedio .intermedio__tittle {
    margin-top: 3rem;
    margin: auto;
  }
  #intermedio .intermedio-h2 {
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .intermedio__parrafo {
    margin: 1rem 1rem;
  }
  .intermedio__parrafo p {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  .container__cards {
    min-width: 320px;
    display: flex;
    flex-direction: column;
  }
  #avanzado .avanzado__tittle h2 {
    font-size: 1.2rem;
    margin: 0;
  }
  #avanzado .avanzado__parrafo {
    margin: 1rem 1rem;
  }
  #avanzado .avanzado__parrafo p {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  #avanzado .container_avanzado {
    min-width: 320px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}
/*safaris*/
#safaris {
  width: 100%;
  height: 100%;
}
#safaris .safaris__tittle {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  z-index: 9;
}
#safaris .safaris__tittle h1 {
  color: var(--secundary-button);
}
#safaris .safaris__article {
  display: flex;
  margin: 0 72px;
  text-align: justify;
}
#safaris .container__video1 {
  display: block;
  text-align: center;
  margin-top: 48px;
}
#safaris .container__video2 {
  display: block;
  text-align: center;
  margin-top: 48px;
}
#safaris .video {
  width: 80%;
  height: 500px;
  box-shadow: 0 0 5px 0 white;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  #safaris .safaris__tittle {
    margin-bottom: 1rem;
  }
  #safaris .safaris__tittle .safaris__article {
    margin: 0 72px;
    text-align: justify;
  }
  #safaris .safaris__tittle .video {
    width: 60%;
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  #safaris .safaris__article {
    margin: 0 36px;
  }
  #safaris .safaris__tittle {
    margin-bottom: 1rem;
  }
  #safaris .video {
    width: 80%;
    height: 250px;
  }
}
@media screen and (max-width: 320px) {
  #safaris .safaris__article {
    margin: 0 16px;
    text-align: center;
  }
  #safaris .safaris__tittle {
    margin-bottom: 1rem;
  }
  #safaris .video {
    width: 80%;
    height: 250px;
  }
}
/*contactos*/
#formulario form {
  padding: 16px 24px;
  width: 50%;
  margin: auto;
  margin-top: 15rem;
  box-shadow: 0px 5px 25px rgb(58, 58, 58);
}
#formulario form h1 {
  color: #fff;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 400;
  margin-top: 4rem;
}
#formulario .container__formulario fieldset {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 1px solid var(--secundary-button);
  padding: 16px 24px;
}
#formulario .container__formulario fieldset legend {
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 0 10px;
}
#formulario .form__input label {
  line-height: 0px;
  color: var(--color-headings);
  font-family: "Poppins", serif;
  font-weight: 300;
  font-size: 16px;
  color: #D9D9D9;
  justify-items: start;
  margin: 16px 16px;
}
#formulario .form__input input {
  width: 95%;
  height: 48px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  border-left: solid 2px var(--secundary-button);
  font-size: 12px;
  margin: 12px 16px;
}
#formulario .form__input textarea {
  width: 95%;
  height: 48px;
  box-sizing: border-box;
  background-color: black;
  color: grey;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  border-left: solid 2px var(--secundary-button);
  font-size: 12px;
  margin: 12px 16px;
}
#formulario .form__submit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
#formulario .form__submit .form__btn {
  font-size: 16px;
  border: none;
  background-color: var(--secundary-button);
  color: var(--color-texblack);
}
#formulario .form__submit .form__btn:hover {
  background-color: var(--secundary-button-hover);
  transition: all 0.2s ease-in 0s;
}

#location {
  width: 100%;
  height: 100%;
  margin-top: 48px;
  margin-bottom: 82px;
}
#location .location__content {
  text-align: center;
  text-transform: uppercase;
}
#location .iframe__location {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
#location .lecciones__btn {
  margin: 0;
  box-shadow: none;
}

@media screen and (max-width: 480px) {
  #formulario form {
    padding: 16px 24px;
    width: 400px;
    margin: auto;
    margin-top: 80px;
    box-shadow: 0px 5px 25px rgb(58, 58, 58);
  }
  #formulario form h1 {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 400;
  }
  #formulario form .form__submit {
    height: 50px;
  }
  .iframe__contact {
    width: 150px;
    height: 290px;
  }
}
@media screen and (max-width: 320px) {
  #formulario .container__formulario fieldset {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid var(--secundary-button);
    padding: 16px 16px;
  }
  #formulario .container__formulario fieldset legend {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }
  #formulario .container__formulario fieldset input {
    width: 85%;
    height: 38px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
  }
  #formulario .container__formulario .iframe__contact {
    width: 150px;
    height: 290px;
  }
  #formulario form {
    margin-top: 10rem;
    width: 280px;
    box-shadow: 0px 5px 25px rgb(92, 91, 91);
  }
  #formulario form h1 {
    font-size: 1rem;
  }
  #formulario form .form__submit {
    height: 50px;
  }
}
.iframe__contact {
  width: 220px;
  height: 200px;
}

footer {
  width: 100%;
  height: 100%;
  background-color: var(--color-button);
  display: grid;
  grid-template-areas: "nav      icon  contact" "nav      icon  contact" "nav      icon  contact" "copy     copy   copy";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
}
footer .--footer-nav {
  grid-area: nav;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}
footer .--footer-nav ul {
  list-style: none;
}
footer .--footer-nav li {
  padding: 0.5rem;
  list-style: none;
}
footer .--footer-nav .list_footer :hover {
  color: var(--secundary-button);
  border-bottom: var(--secundary-button) 3px solid;
  transition: 100ms;
}
footer .--footer-nav a {
  text-decoration: none;
  color: var(--color-texblack);
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 20px;
  transition: all 0.2s ease 0s;
}
footer .icon__container {
  grid-area: icon;
  text-align: center;
  margin: auto;
  color: var(--color-texblack);
}
footer .icon__container h2 {
  color: var(--color-texblack);
}
footer .icon__container img {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  animation: gelatine 1.5s infinite;
}
@keyframes gelatine {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
footer .footer__contacto {
  grid-area: contact;
  text-align: center;
  margin: auto;
}

.footer__h2 {
  color: var(--color-texblack);
  margin-top: 4rem;
  text-align: center;
}

.footer__correos {
  color: var(--color-texblack);
  text-align: center;
  padding: 0 10px;
}

.footer__span {
  grid-area: copy;
  text-align: center;
  margin: 1rem;
}
.footer__span span {
  color: black;
  font-weight: 500;
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  footer {
    width: 100vw;
    padding: 0 36px;
    background-color: var(--color-button);
    display: grid;
    grid-template-areas: "nav      icon      contact" "nav     icon     contact" "nav      icon        contact" "copy     copy      copy";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
  }
  footer .--footer-nav {
    grid-area: nav;
    text-align: left;
    margin-top: 4rem;
    margin-right: 1.3rem;
  }
  footer .--footer-nav ul {
    padding: 0;
  }
  footer .--footer-nav a {
    font-size: 1rem;
  }
  .icon__container {
    grid-area: icon;
    text-align: center;
    margin: auto;
    color: var(--color-texblack);
  }
  .icon__container h2 {
    margin-top: 0.5rem;
  }
  .footer__span {
    margin-right: 4rem;
    display: flex;
    justify-content: center;
  }
  .footer__span span {
    margin-top: 4rem;
  }
  .iconos {
    display: flex;
    flex-direction: row;
  }
  .iconos .footer__icon {
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;
  }
}
@media screen and (max-width: 655px) {
  footer {
    width: 100%;
    background-color: var(--color-button);
    display: grid;
    grid-template-areas: "nav      nav      nav" "icon      icon        icon" "contact     contact     contact" "copy     copy      copy";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
  }
  footer .--footer-nav {
    grid-area: nav;
    text-align: center;
    margin-top: 4rem;
  }
  footer .--footer-nav .footer-ul {
    display: flex;
    flex-direction: row;
  }
  .footer__span {
    width: 100%;
    padding: 0;
    justify-content: center;
    padding-right: 3rem;
  }
  .footer__span span {
    padding: 0;
    margin: 0;
  }
  .iconos {
    display: flex;
    flex-direction: row;
  }
  .iconos .footer__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
  }
  .footer__contacto {
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 405px) {
  footer {
    width: 100%;
    background-color: var(--color-button);
    display: grid;
    grid-template-areas: "nav      nav      nav" "icon      icon        icon" "contact     contact     contact" "copy     copy      copy";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
    padding: 0 4px;
  }
  footer .--footer-nav {
    width: 100%;
    grid-area: nav;
    text-align: center;
    margin-top: 4rem;
    gap: 0.5rem;
    margin: 0;
  }
  footer .--footer-nav li {
    padding: 0;
    list-style: none;
  }
  footer .--footer-nav .footer-ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .footer__span {
    width: 100%;
    padding: 0;
    justify-content: center;
    padding-right: 3rem;
  }
  .footer__span span {
    padding: 0;
    margin: 0;
  }
  .footer__contacto {
    padding-bottom: 1rem;
  }
  .footer__h2 {
    color: var(--color-texblack);
    margin-top: 1rem;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
